h1{
    color: rgb(250, 7, 7);
    
    background-color: rgb(12, 12, 12);
}

#welcome-section {
    height:500px;
    display:flex;
    justify-content:center;
    align-items: center;
    text-align:center;
    background-image: url("https://www.hamilton-medical.com/.imaging/stk/hamilton-theme/text-backgroundimage-tablet/dam/Images/A-Pictures/Home/covid-19-header-2000x769.jpg/jcr:content/covid-19-header-2000x769.jpg.2020-03-20-09-55-30.jpg")
  }
  p{
      color: rgb(0, 0, 2);
      background-color: rgb(167, 255, 4);
  }
  h2{
      background-color: rgb(66, 165, 74);
      display:flex;
    justify-content:center;
    align-items: center;
    text-align:center;
  }
  
h4{
  background-color: rgb(222, 230, 119);
  display:flex;
justify-content:center;
align-items: center;
text-align:center;
}

